*
!.gitignore

!themes/
themes/*
!themes/livre/
!themes/livre/**
!themes/livrechildtheme/
!themes/livrechildtheme/**

!plugins/
plugins/*
!plugins/tokoo-vitamins/
!plugins/tokoo-vitamins/**
!plugins/woocommerce-book-store-by-99plugins/
!plugins/woocommerce-book-store-by-99plugins/**
